@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');


html,body {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */


.nav {
    width: 100%;
    height: 100px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.137);
    font-weight: bold;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    
}

.nav div.logo a {
    text-decoration: none;
    color: #e0b278;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.nav div.logo a::after {
    content: " Bandung Extraordinary Airsoft Community";
    text-decoration: none;
    color: #e0b278;
    font-size: 1.1rem;
    margin-top: -40px;
    padding-left: 1px;
}


.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
    padding: 5px 35px;
}

.nav div.main_list ul li a:hover {
    color: #ceac88;
}

.active-nav {
    background-color: #eba86086;
    border-radius: 10px;
}


/* Carousel */
.carousel-content {
    position: absolute;
    font-size: 5rem;
    font-weight: bold;
    bottom: 35%;
    right: 10%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
  }

/* Home section */

.home {
    width: 100%;
    height: 80vh;
    margin-bottom: 120px;
}

.home .text {
    padding: 200px;
    text-align: center;
    width: 100%;
    height: auto;
}

.home .text h1{
    font-weight: bold;
    font-size: 5rem;
    color: white;
    text-shadow: 2px 2px #414037;
    letter-spacing: 10px;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 999;
}

/* Main */
.main {
    margin-top: 20px;
    margin-bottom: 40px;
}

.main .content-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main .content-1 .card {
    margin: 50px;
}

/* Footer */
.footer {
    margin-bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #000000;
    color: #e0b278;
    text-align: center;
    padding-top: 20px;
 }

 .footer h1 {
     font-weight: bold;
 }

/* Media qurey section */

@media screen and (min-width: 1000px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:1000px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: 500px;
        width: 100%;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        padding-top: 100px;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: center;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}

@media screen and (max-width:560px) {
    .home .text {
        padding-left: 30px;
        text-align: left;
    }
}

/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}


.affix {
    padding: 0;
    background-color: #111;
    height: 65px;
}

.myH2 {
	text-align:center;
    font-size: 4rem;
    color: #ff8c00;
    font-weight: bold;
}

.myH4 {
    text-align: center;
    font-size: 3.5rem;
    font-style: italic;
}

.myP {
	text-align: center;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}

a:hover {
    text-decoration: none;
}

@media all and (max-width:700px){
	.myP {
		padding:2%;
    }

}